* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, p, body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


.headerSection {
    width: 100%;
    height: 100%;
    background-image: url(http://i.imgur.com/5yWGixH.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    position: relative;
    text-align: right;
}

.hidiv {
    position: relative;
    right: 5%;
    top: 30%;
    width: 300px;
    height: 300px;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.hi {
    margin-bottom: 20px;
}

.aboutMeSection {
    text-align: center;
    height: auto;
}

.aboutMeDiv {
    display: inline-block;
    text-align: center;
    width: 60%;
    padding: 10px;
    margin: 55px auto 55px;
}

.aboutMeHeader {
    padding-bottom: 10px;
}

.aboutMeP {
    padding-bottom: 10px;
}

@media only screen and (max-width:900px) {
    .aboutMeDiv {
        top: 10px;
        width: 90%;
    }


}

.portfolioSection {
    background-color: black;
    color: white;
}

.listOfPortfolioPieces {
    text-align: center;
    padding-bottom: 20px;
}

.portfolioSectionHeader {
    text-align: center;
    padding: 20px 0px 30px;
}

.portfolioPiece {
    display: inline-block;
    width: 80%;
}

.piecePic, .pieceDescription {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.pieceTitle {
    text-decoration: none;
    font-size: 30px;
}

.firstMemoriesTitle {
    color: #ecc287;
}

.dinnerPlansTitle {
    color: #9a4e2a;
}

.concertFinderTitle {
    color: #861686;
}

.pieceDescription {
    max-width: 500px;
}

.descriptionP {
    line-height: 22px;
}

.projectPics {
    max-width: 400px;
    width: 100%;
}

.otherResourceLink {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #3737ff;
}


.technologySectionDesktop {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.mepic {
    display: none;
}



/*Technologies*/
/*Mobile CSS*/
.circleTechs {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
}

.circleTechs > a {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.frontendTechs, .backendTechs, .testingTechs {
    position: relative;
}

.frontendTechHeader {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 200px;
    text-align: center;
}

.htmlDiv {
    background-image: url(http://image.ibb.co/mSR0i5/CVsUhIs.png);
    top: 10px;
    left: 30%;
}

.cssDiv {
    background-image: url(http://image.ibb.co/mEafi5/css.jpg);
}

.javascriptDiv {
    background-image: url(http://image.ibb.co/mVYBqk/js.jpg);
}

.jqueryDiv {
    background-image: url(http://image.ibb.co/eWcMqk/jquerylogo320.png);
}

.mongodbDiv {
    background-image: url(http://image.ibb.co/ccBLi5/mongoDB.jpg);
}

.nodejsDiv {
    background-image: url(http://image.ibb.co/cRt5GQ/nodejs_icon.jpg);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.nodejsDiv:hover {
    background-image: url(http://image.ibb.co/mPOpbQ/nodejs.jpg);
}

.reactDiv {
    height: 100px;
    background-image: url(https://image.ibb.co/n8bdmQ/Optimized_react_logo.jpg);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    background-size: contain;
    background-repeat: no-repeat;
}
.reactDiv:hover {
    background-image: url(http://image.ibb.co/mbi8mQ/react_logo_small.png);
}

.reduxDiv {
    height: 100px;
    background-image: url(http://image.ibb.co/idJ0i5/reduxsmall.jpg);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    background-size: contain;
    background-repeat: no-repeat;
}

.reduxDiv:hover {
    background-image: url(http://image.ibb.co/b2nnVk/reduxlarge.jpg);
}

.mochaDiv {
    background-image: url(http://image.ibb.co/bOs4Ak/mocha.png);
}

.chaiDiv {
    background-image: url(http://image.ibb.co/fk2hwQ/chai.png);
}

/*Desktop CSS*/
@media only screen and (min-width: 800px) {
    .mepic {
        background-image: url(http://image.ibb.co/eC1gqk/3_1.jpg);
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
}
}