.retro-scape-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

/* --- Shooting Stars --- */
.retro-stars-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px var(--electric-cyan);
    opacity: 0;
}

.star::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    background: linear-gradient(90deg, #fff, transparent);
    right: 0;
    /* Trail behind */
}

/* Animations for shooting stars */
/* Top Left to Bottom Right */
@keyframes shoot {
    0% {
        transform: translate(-100px, -100px) rotate(45deg) scale(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
        transform: translate(0, 0) rotate(45deg) scale(1);
    }

    100% {
        transform: translate(120vw, 120vh) rotate(45deg) scale(1);
        opacity: 0;
    }
}

.star-1 {
    top: 0;
    left: 20%;
    animation: shoot 4s infinite linear 0s;
}

.star-2 {
    top: 10%;
    left: 0;
    animation: shoot 5s infinite linear 2s;
}

.star-3 {
    top: -10%;
    left: 50%;
    animation: shoot 6s infinite linear 1s;
}

.star-4 {
    top: 20%;
    left: -20%;
    animation: shoot 7s infinite linear 3.5s;
}

.star-5 {
    top: -20%;
    left: 80%;
    animation: shoot 5s infinite linear 0.5s;
}


/* --- Landscape & Sun --- */
.retro-landscape-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Will be translatedY down initially by JS */
}

.retro-sun {
    position: absolute;
    bottom: 0;
    /* Stick to horizon */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to top, var(--electric-pink), yellow);
    box-shadow: 0 0 50px var(--electric-pink);
    mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
    mask-size: 100% 20px;
    /* create slats */
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
    -webkit-mask-size: 100% 20px;
}

.retro-grid {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 300px;
    background-image:
        linear-gradient(var(--electric-purple) 1px, transparent 1px),
        linear-gradient(90deg, var(--electric-purple) 1px, transparent 1px);
    background-size: 40px 40px;
    transform: perspective(300px) rotateX(60deg) translateY(100px);
    transform-origin: bottom center;
    opacity: 0.8;
    box-shadow: 0 -50px 100px var(--electric-purple) inset;
}

.mountain-range {
    /* Optional sleek mountains */
    position: absolute;
    bottom: 100px;
    /* Above grid */
    width: 100%;
    height: 100px;
    background:
        linear-gradient(135deg, transparent 50%, #000 50%),
        linear-gradient(225deg, transparent 50%, #000 50%);
    background-size: 200px 100px;
    z-index: 2;
    /* In front of sun */
    display: none;
    /* Keeping it simple for now, sun+grid is core retro */
}