.retro-scape-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Changed from -1 to 0 to be visible above body bg */
    pointer-events: none;
    overflow: hidden;
}

/* --- Shooting Stars --- */
.retro-stars-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px var(--electric-cyan);
    opacity: 0;
}

.star::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 2px;
    background: linear-gradient(270deg, #fff, transparent);
    right: 0;
    /* Trail behind */
}

/* Animations for shooting stars */
/* Fast shoot (2s duration visible) then wait */
@keyframes shoot {
    0% {
        transform: translate(-100px, -100px) rotate(45deg) scale(0.5);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        transform: translate(150vw, 150vh) rotate(45deg) scale(1.2);
        opacity: 0;
    }

    100% {
        transform: translate(150vw, 150vh) rotate(45deg) scale(1);
        opacity: 0;
    }
}

/* Timings for "every 10 seconds or so" */
/* Total duration 12s, 15s, etc. with offsets */
.star-1 {
    top: 0;
    left: 10%;
    animation: shoot 12s infinite linear 0s;
}

.star-2 {
    top: 10%;
    left: 30%;
    animation: shoot 14s infinite linear 5s;
}

.star-3 {
    top: -5%;
    left: 60%;
    animation: shoot 11s infinite linear 8s;
}

.star-4 {
    top: 15%;
    left: 80%;
    animation: shoot 15s infinite linear 2s;
}

.star-5 {
    top: 30%;
    left: 0%;
    animation: shoot 13s infinite linear 10s;
}


/* --- Landscape & Sun --- */
.retro-landscape-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Will be translatedY down initially by JS */
}

.retro-sun {
    position: absolute;
    bottom: 0;
    /* Stick to horizon */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to top, var(--electric-pink), yellow);
    box-shadow: 0 0 50px var(--electric-pink);
    mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
    mask-size: 100% 20px;
    /* create slats */
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 50%);
    -webkit-mask-size: 100% 20px;
}

.retro-grid {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 300px;
    background-image:
        linear-gradient(var(--electric-purple) 1px, transparent 1px),
        linear-gradient(90deg, var(--electric-purple) 1px, transparent 1px);
    background-size: 40px 40px;
    transform: perspective(300px) rotateX(60deg) translateY(100px);
    transform-origin: bottom center;
    opacity: 0.8;
    box-shadow: 0 -50px 100px var(--electric-purple) inset;
}

.mountain-range {
    /* Optional sleek mountains */
    position: absolute;
    bottom: 100px;
    /* Above grid */
    width: 100%;
    height: 100px;
    background:
        linear-gradient(135deg, transparent 50%, #000 50%),
        linear-gradient(225deg, transparent 50%, #000 50%);
    background-size: 200px 100px;
    z-index: 2;
    /* In front of sun */
    display: none;
    /* Keeping it simple for now, sun+grid is core retro */
}